<nav class="navbar navbar-inverse site-footer">
        <div class="container-fluid text-center">
           <div class="navbar-header ">
            <a class="navbar-brand " href="/" >REGRESAR AL INICIO</a>
        </div>
                   <ul class="nav navbar-nav">
     
   
</nav>