<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="http://localhost:3000/users/dinos" method="post">
      <input type="text" name="id" value="">
      <input type="text" name="nombre" value="">
      <input type="text" name="especie" value="">
      <input type="text" name="peso" value="">
      <input type="text" name="tamaño" value="">
      <input type="text" name="carnivoro" value="">
      <input type="text" name="color" value="">
      <input type="text" name="patas" value="">
      <input type="submit" name="" value="insertar">

    </form>

  </body>
</html>
