<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="http://localhost:3000/users/dinos" method="post">
    <body background="https://previews.123rf.com/images/erinshop/erinshop1709/erinshop170900260/85648526-lindo-patrón-inconsútil-infantil-con-dinosaurios-ideal-para-telas-fondos-de-escritorio-y-diferentes-superfi.jpg">

      <<br>
      <br><br>
      <img src="https://image.winudf.com/v2/image/Y29tLmJsdWV3YXRlci5kb25vc2F1ci53YWxscGFwZXJfc2NyZWVuc2hvdHNfM19kMjk5YmE4ZA/screen-2.jpg?fakeurl=1&type=.jpg"
      width="600"
      height="400"
      align=right>>


      <body bgcolor="#92CCFF">
      <head>
        <b>
          <big>
            <big>
            <font color="#FFFFFF">

        Coloque las caracteristicas del dinosaurio

        <br><br>
        </font>
      </big>
    </big>
        </b>
      </head>
      <br>
      <font color="#FFFFFF">
      <input type="text" name="id" value="">
      <label for="">Id
      <br>
      <br>
      <input type="text" name="nombre" value="">
      <label for="">Nombre
      <br>
      <br>
      <input type="text" name="especie" value="">
      <label for="">Especie
      <br>
      <br>
      <input type="text" name="peso" value="">
      <label for="">Peso
      <br>
      <br>
      <input type="text" name="tamaño" value="">
      <label for="">Tamaño
      <br>
      <br>
      <input type="text" name="carnivoro" value="">
      <label for="">Carnivoro
      <br>
      <br>
      <input type="text" name="color" value="">
      <label for="">Color
      <br>
      <br>
      <input type="text" name="patas" value="">
      <label for="">Patas
      <br>
      <br>
      <input type="submit" name="" value="insertar">


    </form>

  </body>
</html>
