body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.centro {
    text-align: justify;
    color: brown;
}

.color {
    color: red;
}

.site-footer {
    background-color: #000000;
    margin: 0;
    padding: 3rem 0;
}